<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo de la pagina</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <header class="text-center bg-primary text-white p-5">
        <h1>
            <strong>Bienvenidos a nuestro Proyecto de Django</strong>
        </h1>
    </header>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container">
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
      </div>
    </nav>
    <div class="container-lg p-5">
        <div class="row">
            <h2> Acerca de Nosotros</h2>
            <p>¡Hola! Somos un equipo apasionado trabajando en un projecto en Django</p>
        </div>

        <div class="row">
            <h2>Integrantes</h2>
            <ul class="list-group">
                <li class="list-group-item">Gonzalo Zuleta Yarad</li>
                <li class="list-group-item">Maximiliano Olivera</li>
                <li class="list-group-item">Franco Zuleta</li>
                <li class="list-group-item">Rodrigo Gaspar</li>
                <li class="list-group-item">Ariel Flores</li>
            </ul>
        </div>

        <div class="row">
            <h2>Nuestros Servicios</h2>
            <ul>
                <li class="list-group-item">
                    <a name="" id="" class="btn" 
                    href="https://www.youtube.com/watch?v=g1oCpoo4Pfo" 
                    role="button">Servicio 1</a>
                </li>
                <li class="list-group-item">
                    <a name="" id="" class="btn" 
                    href="https://www.youtube.com/watch?v=Mt_zPiEuGfk" 
                    role="button">Servicio 2</a>
                </li>
                <li class="list-group-item">
                    <a name="" id="" class="btn " 
                    href="https://www.youtube.com/watch?v=aAtF-Zzdnc8" 
                    role="button">Servicio 3</a>
                </li>
            </ul>
        </div>
    </div>
    
    <footer class="bg-dark">
        <p>© 2023 Proyectazo papa</p>
    </footer>

</body>
</html>